.navbar{
  background-color: #2C3E50;
}

.bg-main{
  background-color: #2C3E50;
}
.main-bg{
  background-color: #1A252F;
}
.social{
  cursor: pointer;
}
.ball{
  
    background-color: transparent;
    padding: 2px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 50% 50%;
}
.bg_Home{
  background-color: #1ABC9C;
}
.line{
  height: 4px;
  color: #fff !important;
  width: 80px;
}











